




/*body{
	font-family: Georgia;!important
	font-size: 13px; !important
	color: #222222  ;!important
}*/

.header
{
	height:80px;
}



.navbar  
{
	height: 40px;
	background-color:  #3355aa;

	
}
.navbar a
{
	color:  #FFFFFF;
}

.v2
{
	border-left: 2px solid blue;
    height: 100px;
    padding-left: 5px;
    padding-right: 10px;
}

.navbar .container
{
	font-style: italic;
	font-weight: bold;
	font-size: 15px;
	color: 	#FFFFFF;
	pointer-events: none;
}



.baner
{
	/*margin-top: 135px ;*/
	padding: 35px 0px 45px 10px ;
}

.description h3
{
	font-size:16px;
	color:#3355aa; 
	font-weight: bold;
}

.description hr { 
    
   
    
  border-top:5px solid 	#DAA520; 
}
.media-heading
{
	font-size: 10px;
} 
.media .blackhrtag
{
	 height:0; 
  border:0; 
  border-top:1px solid 	lightgray; 
}

 .sector h3
{
 font-size: 28px;
 font-weight: bold;
 padding-top: 25px;  
 padding-bottom: 25px;  
 text-align: center;
}

.box{
height: 250px;
background-color: lightgray;
margin: 5px 5px 5px 5px;

}

 .caption .work
{
	font-size: 16px;
}

.sectorbottom
{
	padding-bottom: 75px;
}


.footer {
    padding-top: 15px;
    padding-bottom: 35px;
    height: 100px;
    width: 100%;
    background-color: #333333;
    color: white;
    
}

.rightfooter a
{
 color :white;
 font-size: 11px;

 
}

.leftfooter a
{
 color :white;
 font-size: 14px;
 float:left;
 
}
.v1
{
	padding-right: 8px;
	padding-left: 8px;
}

.copyright
{
	font-size: 11px;
}

























